
{% comment %} determine which prefix tags are currently active {% endcomment %}
{%- capture active_prefix_tags -%}
    {%- for current_tag in current_tags -%}
        {{- current_tag | split: ':' | first | handleize -}}
        {%- unless forloop.last -%}
        -split-
        {%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{% assign active_prefix_tags = active_prefix_tags | split: '-split-' %}
<div class="filter-button">{{ 'collections.filters.filter_results' | t }}</div>

<div id="filter-wrapper">
    
    {% for block in section.blocks %}
        {% if block.type == "tags" %}
            
            {% assign prefix = block.settings.prefix %}
            {% assign prefix_title = block.settings.title %}
        
            {% assign filter_tag_exist = false %}
            {% for tag in collection.all_tags %}
                {% if tag contains prefix %}
                    {% assign filter_tag_exist = true %}
                {% endif %}
            {% endfor %}

            {% if filter_tag_exist %}
                <div class="filter-option-block">
                    <div class="filter-block-title" data-toggle='{
                            "target": "#content-{{forloop.index}}",
                            "mobileOnly":false,
                            "initialState": "closed"
                        }'>
                        <h3>
                            <span>{{ prefix_title | escape }}</span>
                        </h3>
                    </div>
                    <div id="content-{{forloop.index}}" class="filter-block-content">
                        {% if prefix == "Print:" %}
                            <div id="print-filter"><h3>{{ 'collections.filters.select_prints' | t }}</h3>
                                <span class="print-filter-text" id="printFilterPopup">
                                    <div class="print-filter-wrapper">
                                        <div class="print-filter-head">
                                            <h3>{{ 'collections.filters.filter_prints' | t }}</h3>
                                            <span class="close">&times;</span>
                                        </div>
                                        <section class="">
                                        <ul class="tags tags--vertical slickFilerPrints">
                                            {% for tag in collection.all_tags %}
                                                {% if tag contains prefix %}
                                                    {% capture link_content %}{% include 'icon-close' %}{{ tag | remove: prefix }} {% endcapture %}
                                                    {% if current_tags contains tag %}
                                                        <li class="collection-sidebar__item collection-sidebar__item--active tag--active" {%- if prefix == "Price:" -%} {% include 'filter-money-range-label' %} {%- endif -%}>
                                                            {{ link_content | link_to_remove_tag: tag | replace: 'title=', 'class="tagged-filter js-no-transition" title='}}
                                                        </li>
                                                    {% endif %}
                                                    {% unless current_tags contains tag %}
                                                        <li class="collection-sidebar__item">
                                                            {% assign collection_handle = tag | replace: " ", "" | remove: prefix | downcase | strip %}
                                                            {% if collections[collection_handle].metafields.global.print_image %}
                                                                <img src="{{ collections[collection_handle].metafields.global.print_image }}">
                                                            {% else %}
                                                                <img src="{{ 'default-filter-img.png' | file_img_url: '136x136' }}">
                                                            {% endif %}
                                                            {% assign current_tag_prefix = tag | split: ":" | first | handleize %}
                                                            {% if active_prefix_tags contains current_tag_prefix %}
                                                                {% comment %} generate url {% endcomment %}
                                                                {%- capture tag_url -%}
                                                                    {%- for current_tag in current_tags -%}
                                                                        {%- assign current_tag_handleize = current_tag | handleize | split : "-" | first -%}
                                                                        {%- unless current_tag_handleize == current_tag_prefix -%}
                                                                            {{- current_tag | handleize -}}+
                                                                        {%- endunless -%}
                                                                    {%- endfor -%}
                                                                {%- endcapture -%}
                                                                {%- capture new_url -%}/collections/{{ collection.handle }}/{{ tag_url }}{{ tag | handleize }}{%- endcapture -%}
                                                                {{ link_content | link_to: new_url |  replace: 'title=', 'class="tagged-filter js-no-transition" title=' }}
                                                            {% else %}
                                                                {{ link_content | link_to_add_tag: tag |  replace: 'title=', 'class="tagged-filter js-no-transition" title=' }}
                                                            {% endif %}
                                                        </li>
                                                        
                                                    {% endunless %}
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </section>
                                    </div>
                                </span>
                            </div>
                        {% endif %}
                        <ul {% if prefix == "Print:" %}style="display: none;"{% endif %} {% if prefix == "Price:" %} data-reorder-list {% endif %} class="tags tags--vertical">
                        
                        {% for tag in collection.all_tags %}
                            {% if tag contains prefix %}
                                {% capture link_content %}<div class="checkbox_filter">{% include 'icon-close' %}</div>{{ tag | remove: prefix }} {% endcapture %}
                                {% if current_tags contains tag %}
                                    <li class="collection-sidebar__item collection-sidebar__item--active tag--active" {%- if prefix == "Price:" -%} {% include 'filter-money-range-label' %} {%- endif -%}>
                                        {{ link_content | link_to_remove_tag: tag | replace: 'title=', 'class="tagged-filter js-no-transition" data-colour="INSERT_DATA_COLOR" title=' | replace: 'INSERT_DATA_COLOR', tag | remove: prefix | downcase }}
                                    </li>
                                {% endif %}
                                {% unless current_tags contains tag %}
                                    <li class="collection-sidebar__item" {%- if prefix == "Price:" -%} {% include 'filter-money-range-label' %} {%- endif -%}>
                                        {% assign current_tag_prefix = tag | split: ":" | first | handleize %}
                                        {% if active_prefix_tags contains current_tag_prefix %}
                                            {% comment %} generate url {% endcomment %}
                                            {%- capture tag_url -%}
                                                {%- for current_tag in current_tags -%}
                                                    {%- assign current_tag_handleize = current_tag | handleize | split : "-" | first -%}
                                                    {%- unless current_tag_handleize == current_tag_prefix -%}
                                                        {{- current_tag | handleize -}}+
                                                    {%- endunless -%}
                                                {%- endfor -%}
                                            {%- endcapture -%}
                                            {%- capture new_url -%}/collections/{{ collection.handle }}/{{ tag_url }}{{ tag | handleize }}{%- endcapture -%}
                                            {{ link_content | link_to: new_url |  replace: 'title=', 'class="tagged-filter js-no-transition" data-colour="INSERT_DATA_COLOR" title=' | replace: 'INSERT_DATA_COLOR', tag | remove: prefix | downcase }}
                                        {% else %}
                                            {{ link_content | link_to_add_tag: tag |  replace: 'title=', 'class="tagged-filter js-no-transition" data-colour="INSERT_DATA_COLOR" title=' | replace: 'INSERT_DATA_COLOR', tag | remove: prefix | downcase }}
                                        {% endif %}
                                    </li>
                                {% endunless %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {%- endfor -%}
</div>