<div class="ajaxCartBox" role="none">
  <div aria-hidden="true" class="miniCartOverlay" role="none"></div>
  <div id="cart-mini" class="cart" data-cart-view role="dialog" aria-labelledby="header-mini-cart-title">
    <form method="post" action="/cart">
      <div id="order-cart" class="content">
        <div class="cart-header">
          <h3 id="header-mini-cart-title">{{ 'cart.general.title' | t }}</h3>
          <button type="button" id="button-mini-cart-close" class="btn--link close-cart">
            <i aria-hidden="true" class="fas fa-times"></i>
            <span class="visually-hidden">{{ 'general.accessibility.close_modal' | t }}</span>
          </button>
        </div>
        <div rv-show="cart.item_count | gt 0" class="cartCont">
          <div class="cart-info">
            <ul class="cart-line-item-box">
              <li class="cart-line-item" rv-each-item="cart.items">
                <div class="prod-info-container">
                  <div class="minicart-image">
                    <a rv-href="item.url">
                      <img draggable="false" rv-src="item.image | productImageSize 'compact'" rv-alt="item.product_title">
                    </a>
                  </div>
                  <div class="product-info">
                    <p class="prod-title">
                      <a rv-href="item.url"><span rv-text="item.product_title"></span></a>
                    </p>
                    <div class="variantDesc"></div>
                    <p class="prod-price">
                      <span class="cartPrice" rv-html="item.line_price | money" aria-label="{{ 'cart.label.price' | t }}"></span>
                    </p>
                    <div class="minicart-actions">
                      <div class="minicart-qty-container">
                        <div class="minicart-qty" role="spinbutton">
                          <button aria-label="{{ 'cart.label.minus' | t }}" class="minicart-qty-minus" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">&minus;</button>
                          <span class="minicart-item-qty-text" name="updates[]" rv-text="item.quantity" data-jawalert="false"></span>
                          <button aria-label="{{ 'cart.label.plus' | t }}" class="minicart-qty-plus" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">&plus;</button>
                        </div>
                      </div>
                      <div class="cart-remove">
                        <button type="button" class="btn--link" rv-data-cart-remove="index | plus 1" rv-item-id="item.id">
                          {{ 'cart.general.remove' | t }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div><!-- end of prod-info-container -->
              </li><!-- end of cart.items -->
            </ul>
          </div> <!-- end of cart-info -->
        </div> <!-- end of cart.item_count -->
        <div rv-show="cart.item_count | lt 1" class="cartCont noItem"><p>&nbsp;<br />{{ 'cart.general.empty' | t }}</p></div>
        <div class="sub-total-box" rv-show="cart.item_count | gt 0">
          <div class="sub-total-wrap">
            <div class="subtotalRow">
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal" rv-html="cart.total_price | money"></span>
            </div>
            {% if cart.total_discounts > 0 %}
              <!-- div class="subtotalRow save">
			                <span class="cart__subtotal-title">{{ 'cart.general.savings' | t }}</span>
			                <span class="cart__subtotal">{{ cart.total_discounts | money }}</span>
		              	</div -->

            {% endif %}
          </div>

          <div class="shipping_at_checkout">
            <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
          </div>

          <div class="checkout-view">
            <button type="submit" class="primary button" name="checkout">{{ 'cart.general.checkout' | t }}</button>
            <a href="/cart" class="button">{{ 'cart.general.go-cart' | t }}</a>
          </div>
          <div id="mini-cart-shipping-savings-message" class="mini-cart-shipping-message-block"></div>
        </div>
      </div><!-- end of order-cart -->
    </form>
  </div><!-- end of cart-mini -->
  <div aria-hidden="true" class="origCartCont" style="display: none"></div>
</div>
