{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  {% capture separator %}<span aria-hidden="true">&rsaquo;</span>{% endcapture %}
  <nav class="breadcrumb" role="navigation" aria-label="{{ 'layout.navigation.breadcrumb' | t }}">
    <ol>
      <li>
        <a href="/" title="{{ 'layout.navigation.breadcrumb_home' | t | escape }}">{{ 'layout.navigation.breadcrumb_home' | t }}</a>
      </li>
      {% if template contains 'page' %}
        <li>
          {{ separator }}
          <span>{{ page.title }}</span>
        </li>
      {% elsif template contains 'product' %}
        {% if collection.url %}
          <li>
            {{ separator }}
            {{ collection.title | link_to: collection.url, collection.title }}
          </li>
        {% endif %}
        <li>
          {{ separator }}
          <span>{{ product.title }}</span>
        </li>
      {% elsif template contains 'collection' and collection.handle %}
        {% if current_tags %}
          <li>
            {{ separator }}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            {{ collection.title | link_to: url, collection.title }}
          </li>
          <li>
            {{ separator }}
            <span>{{ current_tags | join: " + " }}</span>
          </li>
        {% else %}
          <li>
            {{ separator }}
            <span>{{ collection.title }}</span>
          </li>
        {% endif %}
      {% elsif template == 'blog' %}
        {% if current_tags %}
          <li>
            {{ separator }}
            {{ blog.title | link_to: blog.url, blog.title }}
          </li>
          <li>
            {{ separator }}
            <span>{{ current_tags | join: " + " }}</span>
          </li>
        {% else %}
          <li>
            {{ separator }}
            <span>{{ blog.title }}</span>
          </li>
        {% endif %}
      {% elsif template == 'article' %}
        <li>
          {{ separator }}
          {{ blog.title | link_to: blog.url, blog.title }}
        </li>
        <li>
          {{ separator }}
          <span>{{ article.title }}</span>
        </li>
      {% else %}
        <li>
          {{ separator }}
          <span>{{ page_title }}</span>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endunless %}
