
{% include 'restricted-grid' %}

{% capture product_content %}


{% assign currentVariant = product.selected_or_first_available_variant %}
{% assign currentVariantSKU = product.selected_or_first_available_variant.sku %}
{% capture currentVariantTitle %}-{{product.selected_or_first_available_variant.title}}{% endcapture %}


{% assign hierarchy = '' %}
{% for product_tag in product.tags %}
  {% if product_tag contains 'Hierarchy:' %}    
      {% capture hierarchy %}{{product_tag | replace: 'Hierarchy:', '' }}{% endcapture %}     
  {% endif %}
{% endfor %}

{% assign formattedTitle = '' %}

{% if product.metafields.global.title_print_name != blank %}
  {% assign formattedTitle = 'hasFormatTitle' %}            
{% endif %}
{% if product.metafields.global.title_type != blank %}
  {% assign formattedTitle = 'hasFormatTitle' %}            
{% endif %}


{% capture currSymbol %}{{ currentVariant.price | money | strip_html |  slice: 0 }}{% endcapture %}     



<div class="ais-hits--item grid__item" role="listitem" aria-haspopup="true" aria-controls="product-actions-{{ product.id }}">
    <div role="none" class="wrapMe" style="visibility: visible;">
        <div class="ais-hit ais-product grid-view-item" role="none" data-pid="{{ product.id }}" data-sku="{{currentVariantSKU | replace: currentVariantTitle, '' }}" 
        data-price="{{currentVariant.price | divided_by: 100 }}" 
        data-vendor="{{product.vendor}}" 
        data-print="{{ product.metafields.global.title_print_name }}" 
        data-silhouette="{{ product.metafields.global.title_type }}" 
        data-algolia-position="{{ forloop.index }}" 
        data-handle="{{ product.handle }}" 
        data-variant-id="{{currentVariant.id}}" 
        data-variant-name="{{currentVariant.title}}" 
        data-cat="{{ hierarchy }}">
        
            <a href="{{ product.url | within: collection }}" aria-expanded="false" class="grid-view-item__link grid-view-item__image-container algoliaGridLink " 
            data-tag="{% for product_tag in product.tags %}{% unless product_tag contains ':' %}{{product_tag }},{% endunless %}{% endfor %}">
            <div class="grid-view-item__image-wrapper js">
                <div style="padding-top: 150%;">
                    <div class="reveal hasSecondImage">

                        <img class="grid-view-item__image portrait lazyload" 
                          data-src="{{ product.featured_image | img_url: '570x' | split: '?' | first }}" 
                          alt="{{ product.title }}" 
                          src="{{ product.featured_image | img_url: '60x' | split: '?' | first }}">
                        <img class="hidden portrait lazyload" 
                          data-src="{{ product.images[1] | img_url: '570x' | split: '?' | first }}" 
                          src="{{ product.images[1] | img_url: '60x' | split: '?' | first }}">
                    </div>
                </div>
            </div>

            <div class="h4 grid-view-item__title {{formattedTitle}}" data-title="{{ product.title }}">
                <span class="origTitle">{{ product.title }}</span>
                <span class="formattedTitle">
                <strong>{{ product.metafields.global.title_type }}</strong> {{ product.metafields.global.title_print_name }}</span>
            </div>
            <div class="grid-view-item__vendor">
              {{product.vendor}}
            </div>
            <div class="grid-view-item__meta algoliaPrice" style="visibility: visible;">
              {% if currentVariant.compare_at_price > currentVariant.price  %}
                 <s class="product-price__price"><span class="money">{{currSymbol}}{{ currentVariant.compare_at_price | divided_by: 100 }}</span></s>
              {% endif %}
              <span class="money">{{currSymbol}}{{ currentVariant.price  | divided_by: 100 }}</span>
            </div>
            <!-- div class="pTagBox" data-tag="CAMILLA EXCLUSIVE,FP" style="display: block;"> 
                <span class="product_tag">Camilla Exclusive</span>
            </div>
            <div class="specialBadge">
                <span>20% OFF | Use code BF19</span> 
            </div -->
            <div class="wk-category-auction" data-prod="{{ product.id }}" cust-id="{{ customer.id }}"></div>
  

            </a>
            

           
        </div>
    </div>
</div>


{% endcapture %}




{% if content_restricted2 == true  %}
  
{% else %}
    {{product_content}}
{% endif %}

