{% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
{% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

{% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

{% capture imageAlt %}{{image.alt | escape}}{% endcapture %}
{% assign selVariant = product.selected_variant.title %}
{% for variant in product.variants %} 
    {% unless selVariant  %}  
        {% if variant.image.src == image %}    
            {% assign selVariant = variant.title %}
            {% break %}
        {% endif %}     
    {% endunless %}                   
{% endfor %}
{% if imageAlt == product.title %}
    {% if selVariant != blank  %}  
        {% capture imageAlt %}{{imageAlt}} - {{selVariant}}{% endcapture %}
    {% endif %}  
{% endif %}

<li tabindex="0" id="{{ img_wrapper_id }}" class="fancyModalZoomImageTrigger product-single__photo-wrapper js" aria-haspopup="true" aria-expanded="false" data-fancy-trigger="zoom-img-{{ image_index }}">
  <div role="none" id="{{ zoom_img_id }}" data-image={{image}} class="product-single__photo {% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% if enable_zoom %} js-zoom-enabled{% endif %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
    <img id="{{ img_id }}"
         draggable="false"
         class="{% if image.aspect_ratio >= 1 %}landscape{% endif %} feature-row__image {{ img_class }} lazyload  {% unless featured_image == image %} lazypreload{% endunless %}"
         src="{{ image | img_url: '300x300' }}"
         data-src="{{ img_url }}"
         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
         data-aspectratio="{{ image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ imageAlt }}">
  </div>
</li>

