{% if all_products[selected_handle].title != '' %}
<div class="grid-view-item ">
    <a class="grid-view-item__link grid-view-item__image-container" href="{{ all_products[selected_handle].url | within: collection }}">    
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js">
      <div>
        {% if all_products[selected_handle].featured_image != blank %}
                {{ all_products[selected_handle].featured_image.src | img_url: '480x480' | img_tag: all_products[selected_handle].featured_image.alt }}
        {% endif %}
      </div>
    </div>  
    <div class="h4 grid-view-item__title">
        {% if all_products[selected_handle].metafields.global.title_print_name and  all_products[selected_handle].metafields.global.title_type %}
        <span><strong>{{ all_products[selected_handle].metafields.global.title_type }}</strong> {{ all_products[selected_handle].metafields.global.title_print_name }}</span>
        {% else %}  
        {{ all_products[selected_handle].title }}
        {% endif %}
    </div>
    
    <div class="grid-view-item__meta">
      {% if all_products[selected_handle].compare_at_price > all_products[selected_handle].price %}

            {% if all_products[selected_handle].price_varies %}
            {%- assign sale_price = all_products[selected_handle].price | money_without_trailing_zeros -%}
                {{ sale_price  }}
            {% else %}
                {{ all_products[selected_handle].price | money_without_trailing_zeros }}
            {% endif %}
        {% else %}
            {% if all_products[selected_handle].price_varies %}
            {%- assign price = all_products[selected_handle].price | money_without_trailing_zeros -%}
                {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
               {{ all_products[selected_handle].price | money_without_trailing_zeros }}
            {% endif %}

        {% endif %}

        {% if all_products[selected_handle].compare_at_price > all_products[selected_handle].price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

            <s>{{ all_products[selected_handle].compare_at_price | money_without_trailing_zeros  }}</s>
        {% endif %}  
    </div>
    {% include 'product-badges',  ptag: all_products[selected_handle].tags %}       
    </a>
</div>
{% endif %}
