{% assign foundSub = false %}
{% assign subLevel = '0' %}
{% for link in linklists[settings.styleguide_menu].links %}
  {% if foundSub == false %}
    {% assign linkURLHandle = link.url | replace: '/blogs/', '' %}
    {% if linkURL == linkURLHandle %}
      {% assign subLevel = '1' %}
      {% assign foundSub = true %}
    {% endif %}
    {% if link.links != blank %}
      {% for childlink in link.links %}
        {% assign linkURLHandle = childlink.url | replace: '/blogs/', '' %}
        {% if linkURL == linkURLHandle %}
            {% assign subLevel = '2' %}
            {% assign foundSub = true %}
        {% endif %}
      {% endfor %} 
    {% endif %}
  {% endif %}  
{% endfor %}


{% if subLevel == '0' %}
  <div class="category-grid-box">
  <ul class="category-grid">
    {% for link in linklists[settings.styleguide_menu].links %}
      {%- assign styleImgP = link.object.image.src | article_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <li class="catGridItem">
          <a href="{{ link.url }}" title="{{ link.title }}">            
                <span>
              {% if link.object.image %}
                   <img src="{{ link.object.image.src | article_img_url: '1x' }}" 
                    data-src="{{ styleImgP }}"
                    data-widths="[300, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ link.object.image.src.aspect_ratio  }}"
                              data-sizes="auto"
                              class="lazyload" 
                    alt="{{ link.title | escape  }}" />
              {% endif %}
            </span>
            <strong>{{ link.title }}</strong>
          </a>

      </li>
    {% endfor %}
  </ul>
  </div>
{% elsif subLevel == '1' %} 
  <div class="category-grid-box">
  <ul class="category-grid">
    
    {% for link in linklists[settings.styleguide_menu].links %}
      
      {% assign linkURLHandle = link.url | replace: '/blogs/', '' %}
      {% if linkURL == linkURLHandle %}
        {% if link.links != blank %}
            {% for childlink in link.links %}
              {%- assign styleImg = childlink.object.image.src | article_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <li class="catGridItem" data-parent="{{link.title}}">
                  <a href="{{ childlink.url }}" title="{{ link.title }}">            
                    <span>
                      {% if childlink.object.image %}
                           <img src="{{ childlink.object.image.src | article_img_url: '1x1' }}" 
                              data-src="{{ styleImg }}"
                              data-widths="[300, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ childlink.object.image.src.aspect_ratio  }}"
                              data-sizes="auto"
                              class="lazyload" 
                           alt="{{ childlink.title | escape  }}" />
                      {% endif %}
                    </span>
                    <strong>{{ childlink.title }}</strong>
                  </a>
                  <a href="{{ childlink.url }}#watch-film" title="{{ link.title }}"><small>{{ 'styleguide.film' | t }}</small></a>
                  <a href="{{ childlink.url }}#step-by-step" title="{{ link.title }}"><small>{{ 'styleguide.step' | t }}</small></a>
              </li>
            {% endfor %} 
        {% endif %}
      {% endif %}  
    {% endfor %}    
  </ul>
  </div>
  <a class="btn mainButton" href="/blogs/{{ settings.styleguide_blog }}">{{ 'styleguide.back' | t }}</a>
{% elsif subLevel == '2' %} 

  <div class="category-grid-box related"> 
  <ul class="category-grid">
    {% for link in linklists[settings.styleguide_menu].links %}
        {% if parentLink ==  link.url  %}
          {% if link.links != blank %}
            {% for childlink in link.links %}
              {% assign linkURLHandle = childlink.url | replace: '/blogs/', '' %}
              {% if articleHandle != linkURLHandle %}
                <li class="catGridItem">
                  <a href="{{ childlink.url }}" title="{{ link.title }}">            
                    <span>
                      {% if childlink.object.image %}
                           <img src="{{ childlink.object.image.src | article_img_url: 'large' }}" alt="{{ childlink.title | escape  }}" />
                      {% endif %}
                    </span>
                    <strong>{{ childlink.title }}</strong>
                    <a href="{{ childlink.url }}#watch-film" title="{{ link.title }}"><small>{{ 'styleguide.film' | t }}</small></a>
                    <a href="{{ childlink.url }}#step-by-step" title="{{ link.title }}"><small>{{ 'styleguide.step' | t }}</small></a>
                  </a>
                </li>
              {% endif %}
              {% if articleHandle == linkURLHandle %}
                 
              {% endif %}
            {% endfor %} 
          {% endif %}
        {% endif %}      
    {% endfor %}  
  </ul>
  </div>


  <a class="btn mainButton" href="/blogs/{{ settings.styleguide_blog }}">{{ 'styleguide.back' | t }}</a>
  {% if article.metafields.global.shop_link %}
    <a class="btn mainButton light" href="{{ article.metafields.global.shop_link }}">{{ article.metafields.global.shop_text }}</a>
  {% endif %}

{% endif %} 

     
