{%- if section.settings.show_section -%}
  <div id="section-{{ section.id }}">
    {%- capture mobile_size -%}750x{% if section.settings.image.height >= 960 %}960{% else %}{{ section.settings.image.height }}{% endif %}{%- endcapture -%}

    {%- comment -%}
    We have an integration with our app SuperFields to allow merchant to pull different collection footer info. We try first to pull it from the metafields
    and if none, we get it from the general settings.
    {%- endcomment -%}

    <div class="FlexboxIeFix">
      {%- if collection.metafields.sf_collection_footer.enabled == 1 -%}
        {%- assign title = collection.metafields.sf_collection_footer.title -%}
        {%- assign content = collection.metafields.sf_collection_footer.content -%}
      {%- else -%}
        {%- assign title = section.settings.title -%}
        {%- assign content = section.settings.content -%}
      {%- endif -%}

      <div class="ImageHero ImageHero--small Image--lazyLoad" {% if section.settings.image %}style="background: url({{ section.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %}>
        <div class="ImageHero__ImageWrapper Image--lazyLoad Image--zoomOut {% if section.settings.apply_overlay %}Image--contrast{% endif %}"
             {% if collection.metafields.sf_collection_footer.enabled != 1 %}
               data-optimumx="1.4"
               data-bgset="{{ section.settings.image | img_url: mobile_size, crop: 'center' }} 750w, {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w"
             {% else %}
               data-bg="{{ collection.metafields.sf_collection_footer.image }}"
             {% endif %}>
          {%- unless section.settings.image != blank -%}
            <div class="PlaceholderBackground PlaceholderBackground--Dark">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
            </div>
          {%- endunless -%}
        </div>

        <noscript>
          <div class="ImageHero__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
        </noscript>

        {%- if title != blank or content != blank -%}
          <div class="ImageHero__ContentOverlay">
            <header class="SectionHeader">
              {%- if title != blank -%}
                <h2 class="SectionHeader__Heading Heading u-h1">{{ title | escape }}</h2>
              {%- endif -%}

              {%- if content != blank -%}
                <div class="SectionHeader__Description">
                  {{- content -}}
                </div>
              {%- endif -%}
            </header>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

  <style>
    #section-{{ section.id }},
    #section-{{ section.id }} .Heading {
      color: {% if collection.metafields.sf_collection_footer.enabled == 1 %}{{ collection.metafields.sf_collection_footer.text_color }}{% else %}{{ section.settings.text_color }}{% endif %};
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Collection footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 500px jpg recommended"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Apply overlay on image",
      "info": "This can improve text visibility.",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our story"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to explain your processes...</p>",
      "info": "For best results, keep this text short."
    }
  ]
}
{% endschema %}