<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>

{% if content_for_header contains "Shopify.designMode" %}
  {% section 'gtm-section' %}
{% else %}
  {% capture gtmSection %} 
     {% section 'gtm-section' %}
  {% endcapture %} 
  {% capture gtmVal %}{{gtmSection | strip_html | strip }}{% endcapture %} 
{% endif %}
{% assign gVal = gtmVal | split: "|" %}
{% include 'google-head-snippets', gtag: gVal[0] %}



{% if content_for_header contains "Shopify.designMode" %}
  {% section 'lang-section' %}
{% endif %}
{% capture langSection %}
  {% section 'lang-section' %}
{% endcapture %} 
{% capture langVal %}{{ langSection | strip_html | strip  }}{% endcapture %} 

    

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}{{ 'now' | date: '%Y%m%d%H%M%S' }}" type="image/png">
  {% endif %}
    
    <title>{{ page_title }}</title>

    {{ content_for_header }}

  <script>
    var theme = {
      strings: {
        cognitoCss: "{{ 'cognito.scss.css' | asset_url  }}",
        template: "{{ template }}", 
        doNotShow: "{{ settings.country_selector_do_not_show }}",
        doNotShowtemplate: "{{ settings.country_selector_do_not_show_template }}", 
        disableCloseCountrySelector: "{{ settings.disable_close_country_selector }}"
      },
      gec: {{settings.enhanced_ecommerce_enable | json }},
      dy: {{settings.dy_enable}},
      langVal: {{langVal | json }},
      moneyFormat: {{ shop.money_format | json }},
      country_link: {{ settings.country_link | json }},
      shopCurrency: {{ checkout.currency | json }},
      thousandSeparator: {{ 123456 | money_without_currency | replace: '234,56', '' | replace: '234.56', '' | replace: '1', '' | json }},
      decimalSeparator: {{ 123456 | money_without_currency | replace: '1,234', '' | replace: '1.234', '' | replace: '56', '' | json }},
      isCheckout: {% if checkout %}true{% else %}false{% endif %}
    }
  </script>

    {{ checkout_stylesheets }}
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}
    {{ checkout_scripts }}

    {% include 'dynamic_yield' %}
    {% include 'dynamic_yield_purchase' %}   


  </head>
  <body class="{% if settings.enable_checkout_country_selector == false %}noCountrySelector{% endif %}">
{% render 'google-body-snippets', gtag:gVal[0] %}

<!-- Server side GTM container -->
  <img src="https://analytics.camilla.com/collect?v=1&t=pageview&tid=UA-184492154-1&cid=johnniedidit&dl=https%3A%2F%2F{{request.host}}" style="display: none" />
<!-- End server side GTM container -->




    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <style>
          .logged-in-customer-information__avatar {
            background: none !important;
            display: flex;
            justify-content: center;
            align-items: center;
            font: bold 20px/26px 'Brandon Grotesque', sans-serif;
            border-radius: 50%;
            color: #000;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #000;
          }
          .logged-in-customer-information__avatar::before {
            content: "{{ customer.first_name | slice: 0 }}{{ customer.last_name | slice: 0 }}";
            background: none;
            position: relative;
            width: auto;
            height: auto;
            z-index: 1;
          }
        </style>
      {% endif %}
    {% endif %}
    {{ skip_to_content_link }}

    <div class="checkoutHeader" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>
    <div class="wrap">
      <div class="banner" data-header style="background: none;">
        
        {% if settings.checkout_banner  %}
          <img src="{{ settings.checkout_banner | img_url: '1000x'  }}"
            srcset=" {{ settings.checkout_banner | img_url: '1280x'  }} 1280w,
                    {{ settings.checkout_banner | img_url: '1024x'  }} 1024w,
                   {{ settings.checkout_banner | img_url: '1000x'  }} 1000w"
          >
        {% endif %}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
       
        <div class="main" role="main">
          <div class="main__header">
            
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        
      </div><!-- wrap -->
    </div>
    <div class="footbanner" data-header>
      <div class="wrap">
        {{ content_for_footer }}
      </div>
    </div>
    {{ tracking_code }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ 'checkout-vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'checkout.js' | asset_url }}" defer="defer"></script>
    <!-- script src="{{ 'checkout-countryselector.js' | asset_url }}" defer="defer"></script -->

    {% include 'country-selector' %}
    {% include 'country-taxid' %}
    {% include 'data-layer-checkout' %}

    {% include 'data-layer-g-shopping-checkout' %}

    {% section 'tiered-discounts' %}
    {% include 'rakuten-checkout' %}


    {% if settings.contentsquare_check == true %}
      {% include 'contentsquare-body-snippets' %}
      {% include 'contentsquare-snippets' %}
    {% endif %}

    {% section 'shipping-default-country' %}

    <div class="xLabel" style="display: none">{{ 'wedonotshippopup.country_notice' | t }}</div>
    {% if settings.checkout_ship_msg_enable  == true %}
      <div class="shipMessageBox shipMessageBox1" style="display: none">
        <div class="shipMessage shipMessage1" style="border-color: {{ settings.checkout_ship_msg_border }}; background-color: {{ settings.checkout_ship_msg_bg }}; color: {{ settings.checkout_ship_msg_txt_color }};">{{ settings.checkout_ship_msg }}
        </div>
      </div>
    {% endif %}

    {% if settings.checkout_ship_msg_enable2  == true %}
    <div class="shipMessageBox shipMessageBox2" style="display: none">
      <div class="shipMessage shipMessage2" style="border-color: {{ settings.checkout_ship_msg_border2 }}; background-color: {{ settings.checkout_ship_msg_bg2 }}; color: {{ settings.checkout_ship_msg_txt_color2 }};"
        data-allowed-country="{{settings.checkout_ship_msg_country2}}" data-shipping="{{ checkout.shipping_address }}"
        >{{ settings.checkout_ship_msg2 }}
        <style type="text/css">
          .shipMessage2 a {
            color: {{ settings.checkout_ship_msg_txt_color2 }};
            font-weight: bold;
          }
        </style>
      </div>
    </div>
    {% endif %}
  {% include 'emarsys-theme' %}
  {% include 'emarsys-checkout' %}


{% assign afterpay_supported_currencies = settings.afterpay_curr | split: ',' %}
{% unless afterpay_supported_currencies contains checkout.currency %}
  <style type="text/css">
    [data-select-gateway="{{settings.afterpay_gateway}}"] {
      display: none !important; 
    }
    [data-subfields-for-gateway="{{settings.afterpay_gateway}}"] {
      display: none !important; 
    }
  </style>
{% endunless %}

{% assign zip_supported_currencies = settings.zip_curr | split: ',' %}
{% unless zip_supported_currencies contains checkout.currency %}
  <style type="text/css">
    [data-select-gateway="{{settings.zip_gateway}}"] {
      display: none !important; 
    }
    [data-subfields-for-gateway="{{settings.zip_gateway}}"] {
      display: none !important; 
    }
  </style>
{% endunless %}


  </body>
</html>
